{%- if theme.live2d %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hsiangleev/live2d-blog/waifu.css">
  <script src="https://cdn.jsdelivr.net/gh/hsiangleev/live2d-blog/live2d.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/hsiangleev/live2d-blog/waifu-tips.js"></script>
  <script>
  initWidget({
    waifuPath: "https://cdn.jsdelivr.net/gh/hsiangleev/live2d-blog/waifu-tips.json",
    cdnPath: "https://cdn.jsdelivr.net/gh/hsiangleev/live2d-blog/"
  });
  </script>
{%- endif %}
