{%- if theme.live2d %}
  <link rel="stylesheet" href="//cdn.hsianglee.cn/live2d-blog/waifu.css">
  <script src="//cdn.hsianglee.cn/live2d-blog/live2d.min.js"></script>
  <script src="//cdn.hsianglee.cn/live2d-blog/waifu-tips.js"></script>
  <script>
  initWidget({
    waifuPath: "//cdn.hsianglee.cn/live2d-blog/waifu-tips.json",
    cdnPath: "//cdn.hsianglee.cn/live2d-blog/"
  });
  </script>
{%- endif %}
